html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  color: #ccc;
  background: #191919;
  font-size: 13px;
  text-align: center;
  font-family: arial, sans-serif;
}
input {
  font-size: 13px;
  text-align: center;
  font-family: arial, sans-serif;
}
button:focus {
  outline: 0;
}
.button {
  padding: 2px 4px;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
}
#speed {
  vertical-align: middle;
  margin-left: 18px;
  width: 150px;
}
#output {
  width: 256px;
  height: 224px;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.ctrl_div {
  text-align: right;
  background: content-box;
  color: #999;
  line-height: 22px;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  color: black;
  background-color: dodgerblue;
  display: inline-block;
}
.github a{
  float: left;
  color: cornflowerblue;
  text-decoration: none;
  font-size: 12px;
}
