html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  color: #ccc;
  background: #191919;
  text-align: center;
  font-family: arial, sans-serif;
}
#output {
  width: 256px;
  height: 240px;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.ctrl_div{
  text-align: right;
  font-size: 12px;
  padding: 2px;
  background-color: revert;
}
#fileInput{
  margin-left: 24px;
  font-size: 13px;
}